<h1>Yum Burgers!</h1>

<h2>Burgers Waiting to be Eaten:</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block}}
    {{/unless}}
  {{/each}}
</ul>

<h2>You've Eaten These Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Yummy Burger to Your Order</h2>

{{!-- 
    // POST: add BURGER to DB functionality 
    // (give burger the property devoured = false) --}}
<form action="/api/burgers" method="POST" class="create-form" id="orderBurger">

  <div class="form-group">
    <label for="burg-name">What Burger Do You Want?</label>
    <input type="text" id="burg-name" name="burger_name" value"">
  </div>

  <button type="submit">Order It!!!</button>
</form>
